<h2>Edit Car</h2>

<form>
 <div class="form-group">
    <label for="name">Name</label>
    <input  id="name" class="input-name form-control" value="{{name}}" placeholder="enter car name">
  </div>
 <div class="form-group">
    <label for="name">Manufacturer</label>
    <input type="text" class="input-manufactured form-control" value="{{manufactured}}" placeholder="enter car manufacturer">
  </div>


  <p><button class="btn btn-primary" type="submit">Save</button></p>

</form>

<p>{{#link 'cars'}}Back to overview{{/link}}</p>